@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-brand-grayBg text-gray-900 font-sans;
}

button {
  @apply bg-brand-purpleLight text-white px-5 py-2 rounded-lg shadow-md hover:bg-brand-purple transition;
}

.card {
  @apply bg-white rounded-xl shadow-md p-6;
}
