# Ignore venvs
.venv/
the13th/.venv/

# Ignore logs
logs/*

# Ignore local databases
*.db
**/*.db

# Ignore git
.git/
.gitignore

# Ignore caches
__pycache__/
**/__pycache__/

# Ignore Node
node_modules/
frontend/node_modules/
