@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-accent text-dark font-sans;
}

.card {
  @apply bg-card shadow-md rounded-2xl p-6;
}

.btn {
  @apply bg-primary text-light px-4 py-2 rounded-lg hover:bg-accent transition;
}
